.about-us__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 82px;
}

.about-us__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-us__item {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
}

.about-us__item:not(:last-child){
    margin-bottom: 83px;
}

.about-us__item:last-child{
    margin-bottom: 58px;
}