.button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 260px;
    display: inline-block;
    padding: 16px 70px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444444;
    background-color: #FFFFFF;
    border: 2px solid #444444;
}

.button--form {
    font-size: 17px;
    line-height: 16px;
    padding: 18px 35px;
    margin-bottom: 55px;
}
