.catalog__wrapper{
 background-color: #F1F1F1;
}

.catalog__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-top: 73px;
    padding-bottom: 73px;
}

.catalog__container{
    padding: 30px 30px 58px 30px;

    @include tablet{
        padding: 0;
    }
}