.copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
    padding-top: 29px;
    padding-bottom: 32px;
}

.copyright__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 18px;
}