.main-form{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 54px;
}

.main-form__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 27px;
    line-height: 30px;
    padding: 152px 0 73px 0;
    background-color: #F1F1F1;
    margin: 0;

    @include tablet {
        font-size: 43px;
        line-height: 50px;
        text-align: center;
    }
}

.main-form__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #444444;
    padding: 17px 0 29px 0;
    margin: 0;

    @include tablet {
        font-size: 17px;
        line-height: 30px;
    }
}