.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal__wrapper {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    padding: 28px 30px 46px 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);

}

.modal-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 44px;
    padding-right: 40px;
    margin: 0;
    margin-bottom: 14px;
}

.modal__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    text-align: center;
    margin: 0;
    margin-bottom: 104px;
}

.modal__container-close {
    display: none;
}

.modal__button{
    background-color: #63D1BB;
    border: none;
}