.nav__link {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.nav__list{
    list-style-type: none;
    padding: 0;
}

.nav__item{
    padding: 28px 0 26px 76px;
    border-top: solid #E6E6E6;
}