.nav {
    position: relative;
    // width: auto;
    // min-height: 79px;
}

.nav__link {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.nav__list {
    list-style-type: none;
    padding: 0;
}

.nav__item {
    padding: 28px 0 26px 76px;
    border-top: solid #E6E6E6;
}


.nav__toggle {
    display: block;
    position: absolute;
    top: -37px;
    right: 10px;
    width: 23px;
    height: 22px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.nav--closed .nav__toggle::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 2px;
    background-color: #231F20;
    box-shadow: 0 4px 0 0 #231F20, 0 8px 0 0 #231F20;

}

.nav__list--opened .nav__toggle--active {

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 20px;
        left: -10px;
        width: 21px;
        height: 2px;
        background-color: #000000;
        ;
    }

    &::before {
        transform: rotate(45deg);
        box-shadow: none;
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
        background-color: fade(#ffffff, 30%);
    }
}

.nav__list--opened .nav__list {
    position: absolute;
    display: block;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
    @include tablet{
      display: flex;
    }
  }

  .nav__toggle--active {
    position: absolute;
    z-index: 5;
  }

  .nav__list--opened .nav__list {
    position: absolute;
    display: block;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
    @include tablet{
      display: flex;
    }
  }

  .nav__list {
    display: none;
    @include tablet{
      display: flex;
  
    }
  }
  