.production__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 21px 13px 0 91px;
    margin-bottom: 26px;
}

.production__video{
    margin-bottom: 35px;
}

.production__discription{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #444444;
    margin: 0;
    padding-left: 34px;
    margin-bottom: 41px;
}

.production__button{
    padding: 18px 11px;
    width: 192px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}