.reviews {
    @include tablet {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        background-image: url(../img/review-tablet.png);
        background-repeat: no-repeat;
        padding: 82px 50px 47px 50px;

    }
}

.reviews__title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 14px;

    @include tablet {
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 43px;
        line-height: 50px;
    }
}

.reviews__button-write {
    @include tablet {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-content: end;
    }
}

.reviews__discription {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-bottom: 33px;

    @include tablet {
        font-size: 17px;
        line-height: 30px;
        grid-row: 2/3;
        grid-column: 1/3;
    }
}

.reviews__user {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    margin: 0;

    @include tablet {
        font-size: 18px;
        line-height: 24px;
        grid-row: 3/4;
        grid-column: 1/2;
    }
}

.reviews__mail {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: #444444;

    @include tablet {
        font-size: 18px;
        line-height: 24px;
        grid-row: 3/4;
        grid-column: 1/2;
    }
}

.reviews__container {
    display: flex;

    @include tablet {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

.reviews__button {
    width: 130px;
    height: 52px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    margin-bottom: 38px;
}