.user-info{
    border: none;
    margin: 0;
}

.user-info__text {
   
    padding-bottom: 29px;
}

.user-info__label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    flex-direction: column;

    @include tablet{
        padding-left: 100px;
    }
}

.user-info__input {
    border: none;
    border-bottom: 3px solid black;
    width: 260px;
    height: 52px;
    padding-right: 12px;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 22px;
}
