@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./blocks/setup.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/main.scss";
@import "./blocks/container.scss";
@import "./blocks/wrapper.scss";
@import "./blocks/product-week.scss";
@import "./blocks/discription.scss";
@import "./blocks/button.scss";
@import "./blocks/about-us.scss";
@import "./blocks/reviews.scss";
@import "./blocks/contacts.scss";
@import "./blocks/location.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/form.scss";
@import "./blocks/main-form.scss";
@import "./blocks/radio-button.scss";
@import "./blocks/comment.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/production.scss";
@import "./blocks/social.scss";
@import "./blocks/body.scss"
